.App {
  text-align: center;
}

.App_header {
  background-color: transparent; /* Cambia a 'transparent' o el color que prefieras */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.welcome {
  font-size: 1.5em;
  margin-top: 20px;
  color: #ff69b4;
}

.description {
  margin-top: 20px;
  font-size: 15px;
  color: black;
  max-width: 600px;
  text-align: center;
}

.image {
  margin-top: 20px;
  width: 100%;
  max-width: 800px;
  height: auto;
  border-radius: 8px;
}
