.App {
  text-align: center;
}

.carousel .slide img {
  width: 100%;
  height: auto;
}

.carousel .legend {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}
