.App {
  text-align: center;
  background-image: url('https://th.bing.com/th/id/OIP.y2ZkaizMm8BAc1Q4Dqs9BQHaE7?rs=1&pid=ImgDetMain'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  min-height: 100vh; 
}

.App_header {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.description {
  font-size: 1.2em;
  color: #333;
}

.image {
  width: 70%;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
}
